body {
    width: 100%;
    height: 100%;
    background-color: black;
    color: greenyellow;
    font-family: monospace;
    font-size: 1.8vw;
}

#left-menu {
    width: 20vw;
    height: 100%;
    padding-right: 2vw;
    float: left;
}

#left-menu .nav {
    padding: 1px 1px 1px 1px;
}

#left-menu .nav:hover {
    padding: 0 0 0 0;
    border: thin dotted steelblue;
}

#left-menu .nav .list {
    margin: 10px 10px 10px 10px;
    padding: 1px 1px 1px 1px;
}

#left-menu .nav .list:hover {
    padding: 0 0 0 0;
    border: thin dotted skyblue;
}

#left-menu .nav .list ul {
    list-style: none inside;
    padding: 0;
    margin: 0;
}

#left-menu .nav .listItem {
    padding: 1px 1px 1px 1px;
    cursor: pointer;
    width: 90%;
}

#left-menu nav .list .listItem:hover {
    padding: 0 0 0 0;
    border: thin dotted slateblue;
}

#main {
    width: 70vw;
    height: 100%;
    float: left;
}

#main .terminal {
    font-size: 3em;
    width: 95%;
    height: 100%;
    margin: 10px 10px 10px 10px;
    padding: 1px 1px 1px 1px;
}

#main .terminal:hover {
    padding: 0 0 0 0;
    border: thin dotted purple;
}

#vanilla-terminal {
    width: 90vw;
    clear: both;
    padding-top: 10px;
}

#vanilla-terminal .logView {
    padding: 1px 1px 1px 1px;
}

#vanilla-terminal .logView:hover {
    padding: 0 0 0 0;
    border: thin dotted greenyellow;
}

#vanilla-terminal .logView .terminal {
    width: 95%;
    height: 100%;
    margin: 10px 10px 10px 10px;
    padding: 1px 1px 1px 1px;
}

#vanilla-terminal .logView .terminal:hover {
    padding: 0 0 0 0;
    border: thin dotted purple;
}

#vanilla-terminal .logView .terminal .cursor {
    color: lightgreen;
}
